/*
Theme Name: Inspiro Child
Theme URI: https://www.inspirotheme.com
Description: Thème enfant Inspiro Premium
Author: Laureline Auger
Template: inspiro
Version: 1.0
*/

/* Fixe la hauteur des images du portfolio */
.portfolio-archive .portfolio_item img {
    height: 300px;       
    width: 100%;         
    object-fit: cover;   
    display: block;      
}

/******** Articles et Dossiers ***********/
.entry-content ul li {
    list-style: none;
}

/* Élément document */
.item-document {
    background: #f8f8f8;
    padding: 18px 22px;
    margin-bottom: 18px;
    border: 1px solid #e1e1e1;
    border-radius: 12px;
    transition: all 0.25s ease;
}

/* Effet hover moderne */
.item-document:hover {
    border-color: #076c65;
    transform: translateY(-3px);
}

/* Titre lien */
.item-document h3 a {
    text-decoration: none;
    font-weight: 600;
    color: inherit;
    display: inline-block;
    transition: color 0.25s ease;
}

/* Couleur au survol */
.item-document:hover h3 a {
    color: #076c65;
}

/* Texte auteur */
.document-auteur {
    font-size: 14px;
    margin-top: 6px;
    opacity: 0.75;
}

/******* Bibliographie*********/

.bibliographie-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 40px;
}

.livre-item {
    padding: 18px;
    border: 1px solid #ddd;
    border-radius: 12px;
    background: #fff;
    transition: transform .3s ease, box-shadow .3s ease;
}

.livre-item:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.12);
}

/* Wrapper de l'image */
.livre-image-wrapper {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Image du livre */
.livre-image-wrapper img {
    max-width: 100%;  
    max-height: 100%; 
    object-fit: contain; 
    display: block;
}

/* Titres / textes */
.livre-titre {
    font-size: 18px;
}

.entry-content p {
  margin-bottom: 2px;
  word-wrap: break-word;
}

.livre-auteur,
.livre-annee,
.livre-description {
    margin: 2px 0;
}

/* Responsive */
@media (max-width: 900px) {
    .bibliographie-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .bibliographie-grid {
        grid-template-columns: 1fr;
    }
}
