/*
Theme Name: Inspiro Child
Theme URI: https://www.inspirotheme.com
Description: Thème enfant Inspiro Premium
Author: Laureline Auger
Template: inspiro
Version: 1.0
*/

/* Fixe la hauteur des images du portfolio */
.portfolio-archive .portfolio_item img {
    height: 300px;       /* ajuste la hauteur selon ton design */
    width: 100%;         /* occupe toute la largeur du conteneur */
    object-fit: cover;   /* recadre l'image sans la déformer */
    display: block;      /* supprime les espaces blancs sous l'image */
}


/******** Ressources ***********/
.entry-content li {
  list-style-position: outside;
}

/* Conteneur UL */
.liste-documents ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Élément document */
.item-document {
    background: #f8f8f8;
    padding: 18px 22px;
    margin-bottom: 18px;
    border: 1px solid #e1e1e1;
    border-radius: 12px;
    transition: all 0.25s ease;
}

/* Effet hover moderne */
.item-document:hover {
    border-color: #076c65;
    transform: translateY(-3px);
}

/* Titre lien */
.item-document h3 a {
    text-decoration: none;
    font-weight: 600;
    color: inherit;
    display: inline-block;
    transition: color 0.25s ease;
}

/* Couleur au survol */
.item-document:hover h3 a {
    color: #076c65;
}

/* Texte auteur */
.document-auteur {
    font-size: 14px;
    margin-top: 6px;
    opacity: 0.75;
}

